flask
flask-cors
flask-socketio
flask-caching
flask-limiter
pandas
numpy
scipy
scikit-learn
requests
python-dateutil
feedparser
websocket-client
pytz
python-dotenv
PyJWT
torch
TA-Lib
ccxt
yfinance
polygon-api-client
pycoingecko
schedule
ta
